body {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.searchInput::placeholder {
  font-size: 5px; /* Adjust the font size as needed */
}

@media only screen and (max-width: 991px) {
  .topBarWrapper {
    display: none;
  }
}

@media only screen and (max-width: 786px) {
  .bottomBarWrapper {
    flex-direction: column;
  }
  .bottomBarWrapper > div {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .topBar {
    display: none;
  }
}

@media only screen and (min-width: 451px) {
  .miniIconOnHead {
    display: none;
  }
}
